<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAwCMtKST8bU4yJrS_4Pkj5-C4i-N06nKk</string>
	<key>GCM_SENDER_ID</key>
	<string>535176782346</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.akshar2324.chatApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>let-s-chat-ca2df</string>
	<key>STORAGE_BUCKET</key>
	<string>let-s-chat-ca2df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:535176782346:ios:0d1108d1edddeef887f5f3</string>
</dict>
</plist>